<div class="card-whole">
  <div class="card-head">
    <div class="card-title">
        {{#each blogs}}
      <h2>{{title}}</h2>
    </div>
    <div class="card-author">
      <p class="author">Posted by {{author}}</p>
    </div>
  </div>
  <div class="card-body">
    <p class="card-message">
      {{message}}
    </p>
    {{/each}}
  </div>
</div>