{{#each allBlogs}}
<div class="card-whole">
  <div class="card-head">
    <div class="card-title"> 
      <h2>Title: {{blog_title}}</h2>
    </div>
    <div class="card-author">
      <p class="author">Posted by {{user.username}}</p>
    </div>
  </div>
  <div class="card-body">
    <p class="card-message">
      {{blog_message}}
    </p>
  </div>
</div>
{{/each}}